---
title: Graber Blinds Carousel Redesign
description: creating a tighter, more flexible home page experience
tags: project
status: active
layout: layouts/graber-blinds-carousel-redesign.njk
img: img/project-images/monthly-dev-project.png
---

<p>Problem: The home page carousel on graberblinds struggled with having messaging and imagergy that felt disjoined due to the layout. Additionally, our existing imagery doesn't fit the full width archetype, always being over stretched or zoomed to fill in the space.</p>

<p>Solution: Constrain the width of the overall component and make the messaging more prominent.</p>