---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h2 class="h2">What's this all about?</h2>
<p class="body--regular">My goal with this project is to create one new page each month based on an inspiration piece found online. Either Instagram, Dribbble, or anything else I like.</p>
<p class="body--regular">I'm also going to try and write a little bit about each piece after the fact, but nothing is guaranteed.</p>
<p class="body--regular">Through this, I hope to finally explore HTML,CSS and Javascript deeper. I also want to put into practice basic components such as carousels, photo galleries and animations that help build more interactive experiences.</p>
<p class="body--regular">Rather than just building this on my person site, I'm trying something new and spinning this up on an 11ty install. This is new to me and I'm really confused. I love diving into this.</p>
<p class="body--regular">If you happen to be reading this, I hope you enjoy it as much as I have enjoyed making this.</p>
<p class="body--regular">Best Regards - Joel</p>



{# 
<p class="body--regular">More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
#}
