$february: #242635;
$headingType: "Vidaloka",
serif;
$SansType: "Open Sans",
sans-serif;
$monterey: #64b0ea;
$lisbon: #e0e2db;
$japan:#84a98c;
$auckland:#9a94bc;
$amsterdam: #896978;
$black90: #00000090;

.monterey {
  background-color: $monterey;
}


.lisbon {
  background-color: $lisbon;
  color: $black90;
}

.japan {
  background-color: $japan;
}

.auckland {
  background-color: $auckland;
}

.amsterdam {
  background-color: $amsterdam;
}



.february {
  background-color: $february;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr 2fr 2fr;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "gutter brand nav contentBar"
    "gutter carousel centerImage contentBar"
    "gutter carousel centerImage contentBar"
    "gutter carousel centerImage contentBar";
  color: $white;
  line-height: 1.5;
  font-family: $SansType;

  .body--regular {
    max-width: 66ch;
    font-size: 2rem;
    line-height: 2;
  }

  .brand {
    grid-area: brand;
    align-self: center;
    justify-self: start;
    font-size: 2.4rem;
    font-weight: 600;
  }

  .nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--list {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      list-style-type: none;
      font-family: $SansType;
      font-size: 1.6rem;

      &-item {
        padding: 4rem 4rem 4rem 0;

        &:not(:first-child) {
          padding: 4rem;
        }
      }
    }
  }
}

.location--carousel {
  grid-area: carousel;
  align-self: center;
  width: 100%;

  .slide {
    visibility: hidden;
    display: none;
    opacity: 0;

    &.active {
      visibility: visible;
      display: flex;
      flex-direction: column;
      justify-content: center;
      animation: fadeIn 1.1s;
      opacity: 1;
    }

    @media screen and (min-width: 76.8rem) {
      height: 50rem;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .slide--title {
    font-family: $headingType;
    font-size: 12rem;
  }
}

.carousel--indicators {
  .indicator--track {
    width: 20rem;
    height: 0.5rem;
    background-color: rgba($off-white, 50%);
    margin-bottom: 2rem;

    .active--indicator {
      background-color: $monterey;
      width: 5rem;
      height: 100%;
      transition: width 0.5s ease-in-out;
    }
  }
}

.location--image {
  grid-area: centerImage;
  overflow: hidden;

  .slide--image {
    width: 100%;
    height: 100%;
    visibility: hidden;
    display: none;
    opacity: 0;

    &.active {
      visibility: visible;
      display: block;
      animation: fadeIn 1.5s;
      opacity: 1;
    }
  }
}

.location--description {
  grid-area: contentBar;

  .location--content {
    padding: 6rem;
    width: 100%;
    height: 100%;
    visibility: hidden;
    display: none;
    opacity: 0;

    &.active {
      visibility: visible;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      animation: fadeIn .2s;
      opacity: 1;
    }
  }

  // page type
  .heading {
    font-family: $SansType;
    font-size: 3.2rem;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: -0.5px;
    margin-bottom: 2rem;
  }

  .arrow {
    padding-top: 6rem;
    font-size: 4rem;
  }
}
