.flying {
  background-image: url("/img/peter-gonzalez.jpg");
  background-size: cover;
  display: grid;
  grid-gap: 2rem;
  padding: 4rem 2rem 2rem 2rem;
  grid-template-columns: [rail] 0.5fr [form] 4fr [slider] 3fr [scroll-bar] 1fr;
  grid-template-rows: [navigation] 1fr [main-body] 3fr [microfooter] 1fr;
  width: 100%;
  font-family: "Sarabun", sans-serif;
  height: 100vh;
}

.flying--logo {
  grid-column-start: form;
  grid-row-start: navigation;
  font-size: 3rem;
  box-shadow: none;
  border-bottom: 0;
  color: #fff;
  font-weight: 700;
  justify-self: start;
  align-self: start;

  &:hover {
    background: none;
    text-decoration: underline;
    color: #fff;
  }
}

.flying--menu {
  grid-column-start: slider;
  grid-row-start: navigation;
  list-style-type: none;
  justify-self: start;
  align-self: start;
  margin-left: 0;

  .flying--menu-item {
    color: hsla(0, 0%, 100%, 0.5);
    margin-bottom: 0.7rem;

    &.active {
      color: #fff;
    }
  }
}

.flying--booking-form {
  grid-column-start: form;
  grid-row-start: main-body;
  font-weight: 700;
  letter-spacing: -0.03em;
  align-self: end;

  .booking-form--heading {
    color: #fff;
    font-family: "Sarabun", sans-serif;
    font-weight: 500;
    font-size: 6rem;
  }

  label {
    color: #fff;
    margin-bottom: 0.5rem;
    font-size: 16px;
    font-weight: normal;
  }

  input,
  select {
    border: none;
    height: 3rem;
    line-height: 2rem;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  }
}

.booking-form--trip-types {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 32rem;
  margin-bottom: 4rem;
  margin-left: 0;

  input[type="radio"] {
    visibility: hidden;
    margin: 0;
    height: 0;
    width: 0;
    display: none;
  }
  .trip-type label {
    color: hsla(0, 0%, 100%, 0.5);
    padding: 0.5rem 1rem;
    background-color: hsla(0, 0%, 100%, 0.1);
    border-radius: 2rem;
    margin-right: 1rem;
    font-weight: 400;
    font-size: 1.6rem;
  }

  .booking:checked + label {
    background-color: hsla(0, 0%, 100%, 0.7);
    color: hsla(175, 100%, 0%, 0.88);
  }
}

.flight-location {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;

  label {
    margin-left: 1.5rem;
  }

  .location-from {
    display: flex;
    flex-direction: column;
  }

  .location-to {
    display: flex;
    flex-direction: column;
  }
}

.flight-dates {
  margin-bottom: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;

  .dates-depart,
  .dates-return,
  .travelers,
  .flight-class {
    display: flex;
    flex-direction: column;
  }

  .travelers--num {
    max-width: 10rem;
  }

  label {
    margin-left: 1.5rem;
  }
}

.form-pill--left {
  border-radius: 1.5rem 0 0 1.5rem;
}

.form-pill--right {
  border-radius: 0 1.5rem 1.5rem 0;
}

.search-flights {
  color: #fff;
  background-color: #f2413b;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 1.5rem;
}

.scroll-bar {
  grid-column-start: scroll-bar;
  justify-self: center;

  .gg-menu {
    margin-top: 10px;
  }
}

.flying--carousel {
  grid-column-start: slider;
  grid-row-start: main-body;
  align-self: end;
  overflow: hidden;
}

.slides {
  display: flex;
  flex-direction: row;
  width: 300%;
  transition: all 0.3s ease-in-out;
}

.slide {
  width: 100%;

  .slide-heading {
    color: $neutral-white;
    font-size: 2.2rem;
    line-height: 2.8rem;
    margin-bottom: 0;
    font-weight: 600;
  }

  .slide-sub-heading {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.6rem;
  }
}

.carousel--controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  .gg-arrow-right-o {
    margin-left: 1rem;
  }
}
