$dark-night: #5a2e2e;
/*Typography*/
$text-dark: #3e4147;
$text-darker: #2a2c31;
$neutral-white: #fff;
$off-white: #ebe9e9;
$heading-accent: #dfba69;

$c1: #288692;
$c2: #45be93;
$c3: #ffd662;
$c4: #faf6ee;
$c5: #544275;
