<ul class="nav">
{% for project in projectlist %}
  <li class="nav--item">
    <a href="{{ project.url | url }}" class="nav--link">{% if project.data.title %}{{ project.data.title }}{% else %}<code>{{ project.url }}</code>{% endif %}</a>
  </li>
{% endfor %}
</ul>
