.bg-green {
  background-color: var(--color-primary);
}

.bg-blue {
  background-color: var(--color-secondary);
}

.bg-peach {
  background-color: var(--color-tertiary);
}

.bg-black {
  background-color: var(--color-black);
}
