.home--body {
  display: grid;
  justify-content: center;
  min-height: 30rem;
  grid-template-columns: [gutterLeft] minmax(1rem, 1fr) [main] minmax(auto, 75rem) [gutterRight] minmax(1rem, 1fr);

  .content-container {
    grid-column: 2;
    display: flex;
    flex-direction: row;
  }

  .featured-projects {
    width: 100%;

    .projects-container {
      margin-left: -1rem;
    }



    .project {
      width: calc(33% - 1rem);
      min-width: 20.625rem;

      .color-block {
        width: 100%;
        height: 10rem;
      }

      &:nth-child(even) {
        margin-left: 0rem;
      }

      &:nth-child(odd) {
        margin-right: 0rem;
      }
    }
  }

  .web-tools {
    width: 40%;
    background-color: white;
    position: relative;

    .project {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      .color-block {
        width: .75rem;
        min-width: .75rem;
        height: auto;
        opacity: .6;
      }
    }

    .web-tool-container {
      flex-basis: auto;
    }

    &:after {
      content: '';
      position: absolute;
      background-color: white;
      height: 100%;
      top: 0;
      right: 100%;
    }
  }


}
