footer {
  background-color: var(--color-secondary);
  background-image: url('/img/madison-map.png');
  background-repeat: no-repeat;
  background-position: 50%, 50%;
  background-size: cover;
  width: 100%;
  min-height: 20rem;
}
