.header {
  background-color: $base-bg;
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(1rem, 1fr) minmax(auto, 70ch) minmax(1rem, 1fr);

  .inner-header {
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .name-plate {
    text-align: center;
  }

  &--standard {
    min-height: 15rem;

    .page-title {
      grid-column: 2;
    }
  }

  &--home {
    min-height: 30rem;
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: -6rem;
}

ul.site-nav {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  .nav-item {
    margin: .5rem;
  }
}

.jg-logo {
  @extend %heading-xl;
  background-color: var(--color-black);
  width: 6rem;
  height: auto;
  padding: 1rem;
  color: var(--color-primary);
  text-align: center;

  &:hover {
    background-color: var(--color-secondary);
  }
}
