<section class="site-section about" id="about">
  <div class="about-container flex flex-col md:flex-row justify-evenly">
    <img class="about--portrait bg-blue object-contain w-100 md:w-1/3 lg:w-1/2 p-4" src="img/me123.jpeg">
    <div class="about--content pt-8 sm:pt-8 px-4 sm:px-0 w-100 sm:w-1/2 pl-4 self-center max-w-prose">
      <h1 class="heading-md pb-4">Hi! I'm Joel Gamble</h1>
      <p class="mb-4">I’m a web developer and designer currently working for Springs Window Fashions. I spend my developing new landing page experiences, product launches, and doing email marketing for our portfolio of 15+ brand websites.</p>
      <p>This site is built on Jekyll and uses a mix of TailwindCSS and my own brew of css utilities. I like the tailwind environment, but it is a bit excessive at times.</p>
      <p>In my free time, I like to disc golf, make pottery and play board games.</p>
    </div>
  </div>
</section>