<section class="experience-container site-section" id="experience">
  <div class="flex flex-row px-4 items-baseline">
    <h2 class="heading-lg">Experience</h2>
  </div>
  <article class="experience px-4 max-w-5xl my-10 md:my-20">
    {# Springs Window Fashions #}
    <div class="job-container flex flex-row mb-20 pt-8">
      <div class="job-overview w-2/5">
        <h2 class="company">Springs Window Fashions</h2>
        <p class="role">Web Designer</p>
        <p class="job-dates">October 2015 - PRESENT</p>
      </div>
      <div class="job-description ml-8 w-3/5">
        <p>I design, develop and maintain our 15+ brand websites that sell blinds, shades and other window treatments. I work in numerous programming environments including EpiServer, Java, and Sharepoint.</p>
        <p>Implemented a robust marketing data flow system using Drip which connected to our CRM system and tracked user flows. Also built out a post purchase email campaign system around user product registration.</p>
        <p>Served on the team responsible for implementing a company wide digital asset management system that centralized our documents, images and other important assets. (Widen Collective)</p>
      </div>
    </div>

    {# Freelance Work #}
    <div class="job-container flex flex-row mb-20">
      <div class="job-overview w-2/5">
        <h2 class="company">Knuckleheads Web Development</h2>
        <p class="role">Web Designer / Developer</p>
        <p class="job-dates">March 2020 - PRESENT</p>
      </div>
      <ul class="job-description ml-8 w-3/5">
        <li>Built an online store within Shopify with new site branding</li>
        <li>migrated away from Old Wordpress site to consolidate URLs</li>
        <li>Provide IT / web consulting regarding best practices</li>
      </ul>
    </div>

    {# Arnett Group #}
    <div class="job-container flex flex-row mb-20">
      <div class="job-overview w-2/5">
        <h2 class="company">The Arnett Group</h2>
        <p class="role">Web Designer</p>
        <p class="job-dates">December 2014 - October 2015</p>
      </div>
      <ul class="job-description ml-8 w-3/5">
        <li>Designed and developed corporate site within Joomla CMS.</li>
        <li>Built custom Wordpress themes for clients.</li>
      </ul>
    </div>
  </article>
<section>