{% if title == "Home" %}
<header class="header header--home">
  <div class="inner-header">
    <!-- Logo -->
    <div class="navbar">
      <div class="jg-logo"><a href="{{ '/' | url }}">JG</a></div>
      <!-- Menu -->
      <ul class="site-nav">
      {% for page in collections.pages %}
        {% if page.data.status === "active" %}
          <li class="nav-item">
            <a class="nav-link" href="{{ page.url | url }}">{{page.data.title}}</a></li>
        {% endif %}
      {% endfor%}
      </ul>
    </div>
    <!-- Name Plate -->
    <div class="name-plate m-4">
      <h1 class="heading-xxl name-plate" href="#">Joel Gamble</h1>
      <h2 class="body-lg job-plate">Front-End Developer | Designer</h2>
    </div>
    </ul>
    {% include "components/social-links.njk" %}
  </div>
</header>

{% else %}

  <header class="header header--standard">
    <div class="inner-header">
    <!-- Logo -->
      <div class="navbar">
        <div class="jg-logo"><a href="{{ '/' | url }}">JG</a></div>
        <!-- Name Plate -->
        {# <div class="name-plate" href="#">Joel Gamble</div> #}
        <!-- Menu -->
        <ul class="site-nav">
          {% for page in collections.pages %}
            <li class="nav-item">
              <a class="nav-link" href="{{ '/' | url }}">{{ page.data.title }}</a></li>
          {% endfor%}
        </ul>
      </div>
    </div>
    <!-- Page Heading -->
    <h1 class="page-title text-center heading-xl">{{ title }}</h1>
  </header>
  
{% endif %}