
<header class="header header--home">
    <!-- Logo -->
    {% include "components/logo.njk" %}
    <nav class="navbar">
      {# <div class="jg-logo"><a href="{{ '/' | url }}">JG</a></div> #}
      <!-- Menu -->
      <ul class="site-nav">
      {% if title != "Home" %}
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
    {% endif %}
    <li class="nav-item">
      <a class="nav-link" href="#about">about</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#projects">projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#experience"> experience</a>
    </li>
    


      {# {% for page in collections.pages %}
        {% if page.data.status === "active" %}
          <li class="nav-item">
            <a class="nav-link" href="{% if page.data.internalLink %} {{page.data.internalLink}} {% else %} {{ page.url | url }} {% endif %}">{{page.data.title}}</a></li>
        {% endif %}
      {% endfor%} #}
      </ul>
    </nav>
    <!-- Name Plate -->
    {# <div class="name-plate m-4">
      <h1 class="heading-xxl name-plate" href="#">Joel Gamble</h1>
      <h2 class="body-lg job-plate">Front-End Developer | Designer</h2>
    </div> #}
    
    {% include "components/social-links.njk" %}
</header>
