<div class="social-icons">
  <img width="20px" height="20px" src="img/icons/github.svg" alt="github account">
  <img width="20px" height="20px" src="img/icons/instagram.svg" alt="instagram account">
  <img width="20px" height="20px" src="img/icons/linkedin.svg" alt="linkedin account">
</div>