---
title: Experience
description: Work experience
date: 2020-31-01
tag: pages
layout: layouts/base.njk
status: active
---


<article class="experience max-w-5xl mx-auto my-12">
  {# Springs Window Fashions #}
  <div class="job-container flex flex-row mb-16">
    <div class="job-overview w-2/5">
      <h2 class="company">Springs Window Fashions</h2>
      <p class="role">Web Designer</p>
      <p class="job-dates">October 2015 - PRESENT</p>
    </div>
    <div class="job-description ml-8 w-3/5">
      <p>I design, develop and maintain our 15+ brand websites that sell blinds, shades and other window treatments. I work in numerous programming environments including EpiServer, Java, and Sharepoint.</p>
      <p>Implemented a robust marketing data flow system using Drip which connected to our CRM system and tracked user flows. Also built out a post purchase email campaign system around user product registration.</p>
      <p>Served on the team responsible for implementing a company wide digital asset management system that centralized our documents, images and other important assets. (Widen Collective)</p>
    </div>
  </div>

  {# Freelance Work #}
  <div class="job-container flex flex-row mb-16">
    <div class="job-overview w-2/5">
      <h2 class="company">Knuckleheads Web Development</h2>
      <p class="role">Web Designer / Developer</p>
      <p class="job-dates">March 2020 - PRESENT</p>
    </div>
    <div class="job-description ml-8 w-3/5">
      <p>Built an online store within Shopify with new site branding</p>
      <p>migrated away from Old Wordpress site to consolidate URLs</p>
      <p>Provide IT / web consulting regarding best practices</p>
    </div>
  </div>

  {# Arnett Group #}
  <div class="job-container flex flex-row mb-16">
    <div class="job-overview w-2/5">
      <h2 class="company">The Arnett Group</h2>
      <p class="role">Web Designer</p>
      <p class="job-dates">December 2014 - October 2015</p>
    </div>
    <div class="job-description ml-8 w-3/5">
     <p>Designed and developed corporate site within Joomla CMS.</p>
     <p>Built custom Wordpress themes for clients.</p>
    </div>
  </div>
</article>
