---
title: Links
description: March challenge - Architecture site
date: 2020-31-03
js: march.js
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ renderData.title or title or metadata.title }}</title>
  <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
  <link rel="stylesheet" href="{{ '/css/main.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">

  <link
    href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;900&family=Roboto:wght@400;700&display=swap"
    rel="stylesheet">
  <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
</head>

<body>
  <main{% if templateClass %} class="{{ templateClass }}" {% endif %}>
    <section class="project--container">
      <article class="march">
        <section class="topbar">
          <a class="brand" href="#">
            <div class="brand--heading">Into</div>
            <div class="brand--subheading">Architecture</div>
          </a>
          <ul class="navlist">
            <li class="navlist--item active"><a href="#" class="navlist--item-link">News</a></li>
            <li class="navlist--item"><a href="#" class="navlist--item-link">Projects</a></li>
            <li class="navlist--item"><a href="#" class="navlist--item-link">About</a></li>
            <li class="navlist--item"><a href="#" class="navlist--item-link">People</a></li>
            <li class="navlist--item"><a href="#" class="navlist--item-link">Contact</a></li>
          </ul>
        </section>
        <article class="welcome-in">
          <article class="carousel">
            <div class="slide">
              <img class="slide--img" src="/img/march/dan-freeman-m4-wkz4GV04-unsplash.jpg">
              <div class="slide--heading">Lego House</div>
            </div>
          </article>
          <div class="welcome-in--content-container">
            <p class="lede body--regular"> Ultrices dui sapien eget mi proin sed libero enim. Quis risus sed vulputate
              odio ut enim
              blandit volutpat.
            </p>
            <p class="body--regular">Ornare arcu dui vivamus arcu felis bibendum ut tristique. In ante metus dictum at
              tempor. Nec ultrices
              dui
              sapien eget mi proin sed libero. Quis viverra nibh cras pulvinar mattis nunc sed. In iaculis nunc sed
              augue
              lacus viverra vitae.</p>
            <p class="body--regular">Faucibus vitae aliquet nec ullamcorper. Quis risus sed vulputate odio ut enim
              blandit volutpat.
              Scelerisque
              in dictum non consectetur a erat nam at lectus.</p>

            <p class="border-accent body--regular">Mies Van Der Rohe Award</p>
          </div>
        </article>
        <article class="recent-news">
          <div class="articles">
          <div class="featured-article article">
            <div class="article--data">
              <p class="article--date">03/05/2020</p>
              <div class="article--title">Quarters Renovation</div>
            </div>
            <div class="article--preview">
              <p class="body--regular inverse-color">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Neque vitae tempus quam pellentesque nec nam
                aliquam sem. Nullam eget felis eget nunc lobortis mattis aliquam. Sit amet mauris commodo quis.
                Adipiscing tristique risus nec feugiat in.</p>
              <button class="btn inverse-btn"><a href="#">More</a></button>
            </div>
            <img class="article--image" src="/img\march/joel-filipe-RFDP7_80v5A-unsplash.jpg">
          </div>
          <div class="article">
            <div class="article--data">
              <p class="article--date">02/20/2020</p>
              <div class="article--title">Sagittis nisl rhoncus mattis rhoncus urna</div>
            </div>
            <div class="article--preview">
              <p class="body--regular">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Condimentum id venenatis a condimentum vitae sapien. Sed
                vulputate mi sit amet mauris commodo.</p>
              <p class="body--regular">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Augue mauris augue neque gravida.</p>
              <button class="btn"><a href="#">More</a></button>
            </div>
          </div>
          <div class="article">
            <div class="article--data">
              <p class="article--date">1/31/2020</p>
              <div class="article--title">Egestas pretium aenean pharetra magna</div>
            </div>
            <div class="article--preview">
              <p class="body--regular">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Mauris nunc congue nisi vitae suscipit tellus mauris a
                diam. Mauris nunc congue nisi vitae suscipit tellus. Sed faucibus turpis in eu mi bibendum neque
                egestas. At augue eget arcu dictum varius duis at consectetur.</p>
              <button class="btn"><a href="#">More</a></button>
            </div>
          </div>
        </div>
        </article>
        <article class="competitions">
          <div class="competition">
            <div class="competition--details">
              <p class="date">1/31/2020</p>
              <p class="body--regular">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Mauris nunc congue nisi vitae suscipit tellus mauris a
                diam. Mauris nunc congue nisi vitae suscipit tellus. Sed faucibus turpis in eu mi bibendum neque
                egestas. At augue eget arcu dictum varius duis at consectetur.</p>
              <button class="btn"><a href="#">More</a></button>
            </div>
            <div class="competition--placement">
              <p class="border-accent body--regular">1st <br><strong class="emphasis">Place</strong></p>
              <img class="competition--submission" src="/img/march/joel-filipe-g8OgQYKT9e4-unsplash.jpg">
            </div>
          </div>
        </article>
        <article class="footer">
          <div class="office">
            <p class="body--regular office--location">Copenhagen</p>
            <p class="body--regular address">Kiaverbladsdae 56 2500</p>
            <p class="body--regular city">Valby, Copenhagen</p>
            <p class="body--regular country">Denmark</p>
            <p class="body--regular phone">Phone: +45.7221.7227</p>
            <p class="body--regular fax">Fax: +45.3502.7227</p>
          </div>
          <div class="office">
            <p class="body--regular office--location">Munich</p>
            <p class="body--regular address">Hohemwaldeckstrate 20</p>
            <p class="body--regular city">81541, Munich</p>
            <p class="body--regular country">Germany</p>
            <p class="body--regular phone">Phone: +49.1507.14565</p>
            <p class="body--regular fax">Fax: +49.1507.14565</p>
          </div>
          <ul class="site-links">
            <li class="site-link"><a href="#">News</a></li>
            <li class="site-link"><a href="#">Projects</a></li>
            <li class="site-link"><a href="#">About</a></li>
            <li class="site-link"><a href="#">People</a></li>
            <li class="site-link"><a href="#">Contact</a></li>
          </ul>
        </article>
      </article>
    </section>
    <article class="overview">
      {{ content | safe }}
    </article>
    </main>
</body>
{% if js %}
<script type="text/javascript" src="../../js/{{js}}"></script>
{% endif %}

</html>
