body,
html {
  font-size: 10px;
}

.home--page {
  background-color: $background;
  display: grid;
  color: $base-text;
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-rows: minmax(50rem, 90vh) max-content;
  grid-template-areas:
    "left-spacer nav right-spacer"
    "intro intro intro";
  grid-gap: 2rem 4rem;
}

.home--nav {
  grid-area: nav;

  width: 100%;
}

.site--heading {
  text-align: right;
  padding-top: 4rem;
  margin-bottom: 6rem;

  .link {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/underline-vector.svg");
      background-repeat: round;
      height: 2rem;
      left: 0;
      bottom: -2rem;
      width: 100%;
    }
  }
}

.nav--container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.nav {
  display: flex;
  flex-direction: column;
  max-height: 40rem;
  flex-wrap: wrap;
  min-width: 45rem;

  .nav--item {
    font-weight: 400;
    margin-bottom: 0;
  }

  .nav--link {
    color: $menu-color-disabled;
    text-decoration: none;

    &:hover {
      color: $menu-color-active;
    }
  }
}

.home--intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $main-color-1;
  color: $off-white;
  grid-area: intro;
  padding: 8rem;
  height: 100%;
}
