---
title: April
description: April monthly project
date: 2020-30-04
js: april.js
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ renderData.title or title or metadata.title }}</title>
  <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
  <link rel="stylesheet" href="{{ '/css/main.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Vidaloka&display=swap" rel="stylesheet">
  <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
</head>

<body>
  <main{% if templateClass %} class="{{ templateClass }}" {% endif %}>
    <article class="project--container">
      <section class="site-banner-container full bleed">
        <article class="site-banner">
          <h1 class="heading--large">Now Offering Curbside Pickup</h1>
          <p class="lede text-center">Call us now to place an order for delivery or curbside pickup.</p>
          <ul class="locations">
            <li>Madison: <a class="phone-number" href="tel:608-284-0151">608-284-0151</a></li>
            <li>Milwaukee: <a class="phone-number"
                href="tel:414-962-3052">414-962-3052</a></li>
          </ul>
          <p class="details text-center">$1 per mile delivery fee. Hours vary by location. Call for details.</p>
        </article>
      </section>
      <article class="cbd-menu-wrapper full-bleed">
        <h1 class="element-center text-center"><strong>CBD MENU</strong></h1>
        <p class="body--regular element-center text-center">Below you will find a listing of our CBD products and
          offerings. Additionally, you can message either one of our stores on facebook for more information on
          products
          available as well as request photos. <a href="https://www.facebook.com/knuckleheadstobacco/"
            target="blank">Madison</a> or <a href="https://www.facebook.com/KnuckleheadsMilwaukee"
            target="_blank">Milwaukee</a>
        </p>
        <section class="collections">
        {% for collection in cbdProducts %}
        <article class="collection">
          <div class="collection-name">{{ collection.collectionName}} </div>
          {% if collection.collectionNote %}<div class="collection-note">{{collection.collectionNote}}</div>{% endif %}
          <div class="products">
            {% for product in collection.products %}
            <div class="product">
              {% if product.productImageUrl %}<img class="product--image" src="{{product.productImageUrl}}">
              {% endif %}
              <section class="product--info">
                <div class="product--brand">{{product.name}} </div>
                 {% if product.productNote %}<div class="product-note">{{product.productNote}}</div>{% endif %}
                <ul class="product-variants">
                  {% for variant in product.variants %}
                  <li class="product--variant">{{variant.name}}</li>
                    {% if variant.subVariants %}
                      <ul class="sub-variant">
                        {% for subVar in variant.subVariants%}
                          <li class="sub-var">{{subVar.name}}</li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  {% endfor %}
                </ul>
              </section>
            </div>
          {% endfor %}
          </div>
        </article>
        {% endfor %}
      </section>
      </article>

    </article>
    <article class="overview">
      {{ content | safe }}
    </article>
    </main>
</body>
{% if js %}
<script type="text/javascript" src="../../js/{{js}}"></script>
{% endif %}

</html>
