<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ renderData.title or title or metadata.title }}</title>
  <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link rel="stylesheet" href="{{ '/css/main.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
  <link href="https://fonts.googleapis.com/css?family=Sarabun:300,400,500,700,800&display=swap" rel="stylesheet">


  <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
</head>

<body>
  <main{% if templateClass %} class="{{ templateClass }}" {% endif %}>
    <article class="project--container">
      <div class="container">
        <div class="row">
          <div class="constrained-width-carousel m-b-xl" id="cw-carousel">
            <div class="slider-block slider-style--60-40">
              <img class="slider-image" alt="graber-10151-solar-eco-performance-shades-rs20-v1.tif"
                src="https://embed.widencdn.net/img/springswindowfashions/ayxwqy7065/658x500px/graber-10151-solar-eco-performance-shades-rs20-v1.jpg?crop=true&keep=c&q=80&color=ffffffff&u=fpq9bh">
              <div class="slider-block--content-container graber-grullo placement-left p-5">
                <div class="slider-block--content text-center text-lg-start">
                  <div class="slider-block--CTA">
                    <div class="font-serif heading-xl">Better Fabrics for a Better World</div>
                    <div class="font-sans-serif heading-md">Healthy Home and Eco-Friendly Collections from LightWeaves
                      Solar Shades</div>
                    <a class="btn btn--primary graber-cream" href="#">Find Out More</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="slider-block slider-style--60-40">
              <img class="slider-image" alt="graber-10151-solar-eco-performance-shades-rs20-v1.tif"
                src="https://embed.widencdn.net/img/springswindowfashions/ayxwqy7065/658x500px/graber-10151-solar-eco-performance-shades-rs20-v1.jpg?crop=true&keep=c&q=80&color=ffffffff&u=fpq9bh">
              <div class="slider-block--content-container graber-grullo placement-left p-5">
                <div class="slider-block--content text-center text-lg-start">
                  <div class="slider-block--CTA">
                    <div class="font-serif heading-xl">Better Fabrics for a Better World</div>
                    <div class="font-sans-serif heading-md">Healthy Home and Eco-Friendly Collections from LightWeaves
                      Solar Shades</div>
                    <a class="btn btn--primary graber-cream" href="#">Find Out More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Launch Page HTML-->
      <section class="sig-series upcoming-product-launches">
        <div class="full-bleed color-bar sig-blue">
          <div class="container">
            <div class="row">
              <div class="full-bleed color-bar sig-blue">
                <div class="col-xs-12 py-5 mb-3">
                  <h1 class="heading-xl font-med mb-5">Upcoming Product Launches</h1>
                  <p class="body-lg">Signature Series is always delivering solutions that will help your business
                    grow—and our upcoming product launch is designed to do just that. We hope this exemplary program
                    will boost your profits and benefit your business! Preorder your sampling below.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-xs-12 breadcrumbs pt-3 mb-5">
              <p class="crumbs">
                <a href="#">Home</a> > <a href="">Upcoming Product Launches</a>
              </p>
            </div>
          </div>
        </div>
        <div class="product-launch mb-5">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-6 launch-info">

                <!--Launch Copy-->
                <div class="launch-copy">
                  <h2 class="heading-md font-med">Roller & Solar Shades</h2>
                  <p class="body-md">Attract the customers that want it all AND boost profits with Signature Series
                    Solar and Roller Shades. Adding these in-demand shades to your business is the perfect way to ensure
                    you truly have a shade for every style and every need.</p>
                </div>

                <!-- Documents  -->
                <!--TODO: get document type icons from horizons / GD -->
                <ul class="documents-list">
                  <li class="document-list-item document">Features & Benefits Sheet</li>
                  <li class="document-list-item document">Sell Sheet</li>
                  <li class="document-list-item document"></li>
                  <li class="document-list-item document"></li>
                  <li class="document-list-item document"></li>
                  <li class="document-list-item document">Program Highlights</li>
                  <li class="document-list-item toolkit">Digital Toolkit</li>
                  <li class="document-list-item video">Product Video</li>
                  <li class="document-list-item video">Social Media Video</li>
                </ul>

                <!-- CTAs -->
                <div class="cta-container">
                  <a class="btn sig-purple">Preorder Sampling</a>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6 samplebook-container">
                <figure class="samplebook p-5">
                  <div class="launch-date p-3 sig-product-roller-solar">March 2021</div>
                  <img class="samplebook-image p-3" alt="sig-roller-solar-sampling.png"
                    src="https://embed.widencdn.net/img/springswindowfashions/hxvsezhrut/447x469px/sig-roller-solar-sampling.png?crop=false&position=c&u=fpq9bh">
                  <figcaption class="sb-price p-4">$455 US | $546 CAN</figcaption>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Graber Direct Landing Page-->
      <section class="graber">
        <section class="product-launches">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <h1 class="heading--xl text-center mt-3 mb-2">Upcoming Product Launches</h1>
                <p class="breadcrumbs text-center"><a href="/">Home</a> > Upcoming Product Launches</p>
                <p class="body--large text-center">Quickly get up to speed on Graber launches. Find all the materials
                  you need to successfully sell our new product rollouts.</p>
              </div>
            </div>
          </div>
        </section>
        <section class="product-launch">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="launch-copy mb-5">
                  <h2 class="heading--md mb-3">Lightweaves&reg; Solar &amp; Roller Shades</h2>
                  <p class="body-md">The fabrics of the Graber Solar & Roller Shade collection are fashionably on trend,
                    including our new Eco-Performance assortment for your eco-conscious clients. Plus, our all-new
                    sampling format is thoughtfully organized and completely customizable to your needs. </p>
                </div>

                <!-- Documents  -->
                <!--TODO: get document type icons from horizons / GD -->
                <ul class="documents-list">
                  <li class="document-list-item mb-3">
                    <a class="link icon icon-pdf"
                      href="https://p.widencdn.net/qf1bg5/graber-solar-roller-shades-teaser-flyer-1">New Program
                      Overview</a>
                  </li>
                  <li class="document-list-item mb-3"><a class="link icon icon-pdf"
                      href="https://p.widencdn.net/0gxdxl/graber-solar-roller-shades-teaser-flyer-2">Eco-Performance:
                      better Fabrics for a Better World</a></li>
                  <li class="document-list-item mb-3">
                    <a class="link icon icon-pdf"
                      href="https://p.widencdn.net/sfscpc/graber-solar-roller-shades-teaser-flyer-3">New Innovations</a>
                  </li>
                  <li class="document-list-item mb-3">
                    <a class="link icon icon-pdf"
                      href="https://p.widencdn.net/i3bmdg/graber-solar-roller-shades-teaser-flyer-4">Sampling
                      Details</a>
                  </li>
                  <li class="document-list-item mb-3">
                    <a class="link icon icon-pdf"
                      href="https://p.widencdn.net/qydn8q/graber-roller-solar-shades-sell-sheet">Sell Sheet</a>
                  </li>
                  <li class="document-list-item mb-3">
                    <a class="link icon icon-pdf"
                      href="https://p.widencdn.net/9vu4tj/graber-roller-solar-features-benefits-sell-sheet">Features
                      &amp; Benefits</a>
                  </li>
                  <li class="document-list-item mb-3">
                    <a class="link icon icon-pdf"
                      href="https://p.widencdn.net/je0ab6/graber-roller-solar-shades-discontinued-fabric-list">
                      Discontinued Fabrics</a>
                  </li>
                  <li class="document-list-item mb-3"><a class="link icon icon-play video-link"
                      href="https://youtu.be/lbNSX1GR5mk" data-source="https://www.youtube.com/embed/lbNSX1GR5mk">Launch
                      Training Webinar</a></li>
                  <li class="document-list-item"><a class="link icon icon-play video-link"
                      href="https://youtu.be/ftkHEiNb-r4" data-source="https://www.youtube.com/embed/ftkHEiNb-r4">Social
                      Video</a></li>
                </ul>

                <!-- CTAs -->
                <div class="cta-container">
                  <a href="https://mybusiness.graberdirect.com/mybusiness/orderentry/StCatalog.jsp?view=search&lang_id=EN&catalogs=public&search=y&prod=30-2021-110"
                    class="btn btn--primary">Preorder Sampling</a>
                </div>
              </div>
              <div class="col-xs-12 col-md-6 samplebook-container">
                <figure class="samplebook p-5">
                  <div class="launch-date p-3 bg-roller-solar">March 2021</div>
                  <img class="samplebook-image p-3" alt="sig-roller-solar-sampling.png"
                    src="https://embed.widencdn.net/img/springswindowfashions/gcuq9ngdog/470x470px/graber-solar-roller-sampling.png?crop=false&position=c&u=fpq9bh">
                  <figcaption class="sb-price p-4">$750 US | $900 CAN</figcaption>
                </figure>
              </div>
            </div>
          </div>
        </section>
      </section>
      <!-- End Graber Direct Landing Page-->
    </article>
    <article class="overview">
      {{ content | safe }}
    </article>
    </main>
    {% if js %}
    {# <script type="text/javascript" src="../../js/{{js}}"></script> #}
    {% endif %}
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
      $(document).ready(function () {
        $('#cw-carousel').slick({
          autoplay: true,
          adaptiveHeight: true,
          dots: true,
          arrows: false,
        });
      });

    </script>
</body>

</html>
