    {% set overviewlist = collections.overviews %}
    {% for overview in overviewlist %}
   
    {% if overview.data.month ===  project.data.title %}
       <article{% if overviewClass %} class="{{ overviewClass }}"{% endif %}>
      {{ content | safe }}
    </article>    
    {% endif %}
    {% endfor %}

