     
    {% set overviewlist = collections.overviews %}
    {% for overview in overviewlist %}
    <p>{{overview.data.title}}</p>
    {% if overview.data.month === page.data.month %}
       <article{% if overviewClass %} class="{{ overviewClass }}"{% endif %}>
      {{ content | safe }}
    </article>    
    {% endif %}
    {% endfor %}

{#
{% set month =  project.data.title | lower %}
{% set overviewURL %}
#}