<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/main.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
  
     <link href="https://fonts.googleapis.com/css?family=Sarabun:300,400,500,700,800&display=swap" rel="stylesheet"> 
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
  </head>
  <body>
    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      <article class="project--container">
      {{ content | safe }}
      </article>
      
      {% include "project-overview.njk" %}
    </main>
  </body>
    {% if js %} 
      <script type="text/javascript" src="../../js/{{js}}"></script>
    {% endif %}
</html>
